@page "/books/view/{Id}"
@inject IBookRepository _repo
@inject NavigationManager _navManager
@inject IToastService _toastService


<h3>View Book Details</h3>
<hr />
<br />
@if (int.Parse(Id) < 1 || string.IsNullOrWhiteSpace(Id))
{
    <ErrorMessage Message="Invalid Selection. Please Try Again" />
}
else if (Model == null)
{
    <LoadingMessage Message="Loading Book Details" />
}
else
{

    <div class="row">
        <div class="col-6">
            <table class="table table-responsive">
                <tr>
                    <td>
                        <strong>Title</strong>
                    </td>
                    <td>@Model.Title</td>
                </tr>
                <tr>
                    <td>
                        <strong>Author</strong>
                    </td>
                    <td>
                        @if (Model.Author == null)
                        {
                            <span class="text-muted">No Author Recorded</span>
                        }
                        else
                        {
                            <a href="/authors/view/@Model.AuthorId">@Model.Author.Firstname @Model.Author.Lastname</a>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Summary</strong>
                    </td>
                    <td>@Model.Summary</td>
                </tr>
                <tr>
                    <td>
                        <strong>Published Year</strong>
                    </td>
                    <td>@Model.Year</td>
                </tr>
                <tr>
                    <td>
                        <strong>ISBN</strong>
                    </td>
                    <td>@Model.Isbn</td>
                </tr>

            </table>
        </div>
        <div class="col-4">
            <img src="@string.Format("data:image/png;base64,{0}", Model.File)" style="height:300px; width:300px" />
            <h3 class="text-center text-info">@string.Format("{0:C}", Model.Price)</h3>
        </div>
    </div>
}

<button @onclick="GoToEdit" class="btn btn-outline-warning">
    <span class="oi oi-pencil"></span>
    Edit Book
</button>
<button @onclick="GoToDelete" class="btn btn-outline-danger">
    <span class="oi oi-circle-x"></span>
    Delete Book
</button>
<button @onclick="BackToList" class="btn btn-outline-secondary">
    <span class="oi oi-media-skip-backward"></span>
    Back To List
</button>

@code {
    [Parameter]
    public string Id { get; set; }

    private Book Model = new Book();

    protected override async Task OnInitializedAsync()
    {
        int id = Convert.ToInt32(Id);
        Model = await _repo.Get(Endpoints.BooksEndpoint, id);
        _toastService.ShowInfo($"Now Viewing {Model.Title}", "");

    }

    private void BackToList()
    {
        _navManager.NavigateTo("/books/");
    }

    private void GoToEdit()
    {
        _navManager.NavigateTo($"/books/edit/{Model.Id}");
    }

    private void GoToDelete()
    {
        _navManager.NavigateTo($"/books/delete/{Model.Id}");
    }

}
